@import url(loader.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-lightPurple {
  @apply bg-purpleLight hover:bg-green-700  text-white 
  dark:bg-violetLight hover:dark:bg-green-700 
  font-bold md:text-lg px-4 py-2 md:px-8 md:py-4 rounded-full;
}

.btn-darkPurple {
  @apply 
  bg-purpleDark hover:bg-green-700 hover:text-purpleDark  text-white
  dark:bg-violetDark hover:dark:bg-green-700 
  font-bold md:text-lg px-4 py-2 md:px-8 md:py-4 rounded-full;
}

.btn-white {
  @apply bg-white hover:bg-black hover:text-white text-purpleDark md:font-bold md:text-lg px-4 py-2 md:px-8 md:py-4 rounded-full;
}

.btn-delete {
  @apply bg-black hover:bg-red-700 text-white md:font-bold md:text-lg px-4 py-2 md:px-8 md:py-4 rounded-full;
}

.btn-pagination{
  @apply 
  bg-purpleLight hover:bg-white hover:text-purpleDark 
  dark:bg-violetLight dark:hover:bg-violetDark dark:text-white 
  py-2 px-3 rounded-full whitespace-nowrap text-xs md:text-base   
}

.auth-link {
  @apply text-center px-4 py-2 md:px-8 md:py-4 hover:underline
}